<!------
  /------------------
// Big SVG hero Name
//-------------------
//
// If you want to change your name you will have to recreate it
// in Figma or any other way you can export text as SVG
// After you have exported it, you have to remove the size atributes from the SVG
// this will allow the SVG become fill width and full heigh. It will also be responsive.
--- -->
<section class="bg-primary">
  <div
    class="px-8 2xl:max-w-7xl mx-auto pt-12"
    data-aos="fade-up"
    data-aos-duration="2000">
    <div class="grid grid-cols-3 gap-4">

      <div class="col-span-2">
        <svg width="773.28" height="97.8" viewBox="0 0 773.28 97.8" xmlns="http://www.w3.org/2000/svg"><g id="svgGroup" stroke-linecap="round" fill-rule="evenodd" font-size="9pt" stroke="#ffffff" stroke-width="0.8" fill="#1434ff" style="stroke:#ffffff;stroke-width:0.8;fill:#1434ff"><path d="M 187.56 90.24 L 187.56 82.8 L 180 82.8 L 180 14.76 L 187.56 14.76 L 187.56 7.32 L 195 7.32 L 195 0 L 218.52 0 L 218.52 7.32 L 225.84 7.32 L 225.84 14.76 L 233.28 14.76 L 233.28 30.96 L 224.64 30.96 L 224.64 16.08 L 217.2 16.08 L 217.2 8.64 L 196.2 8.64 L 196.2 16.08 L 188.88 16.08 L 188.88 81.6 L 196.2 81.6 L 196.2 88.92 L 217.2 88.92 L 217.2 81.6 L 224.64 81.6 L 224.64 53.16 L 202.32 53.16 L 202.32 44.4 L 233.28 44.4 L 233.28 82.8 L 225.84 82.8 L 225.84 90.24 L 218.52 90.24 L 218.52 97.8 L 195 97.8 L 195 90.24 L 187.56 90.24 Z M 360 97.8 L 360 0 L 413.28 0 L 413.28 8.64 L 368.88 8.64 L 368.88 44.4 L 405.84 44.4 L 405.84 53.16 L 368.88 53.16 L 368.88 88.92 L 413.28 88.92 L 413.28 97.8 L 360 97.8 Z M 720 97.8 L 720 0 L 773.28 0 L 773.28 8.64 L 728.88 8.64 L 728.88 44.4 L 765.84 44.4 L 765.84 53.16 L 728.88 53.16 L 728.88 88.92 L 773.28 88.92 L 773.28 97.8 L 720 97.8 Z M 60 97.8 L 60 0 L 98.52 0 L 98.52 7.32 L 105.84 7.32 L 105.84 14.76 L 113.28 14.76 L 113.28 38.28 L 105.84 38.28 L 105.84 45.72 L 98.52 45.72 L 98.52 51.84 L 105.84 51.84 L 105.84 74.16 L 113.28 74.16 L 113.28 97.8 L 104.64 97.8 L 104.64 75.36 L 97.2 75.36 L 97.2 53.16 L 68.88 53.16 L 68.88 97.8 L 60 97.8 Z M 300 97.8 L 300 0 L 338.52 0 L 338.52 7.32 L 345.84 7.32 L 345.84 14.76 L 353.28 14.76 L 353.28 38.28 L 345.84 38.28 L 345.84 45.72 L 338.52 45.72 L 338.52 51.84 L 345.84 51.84 L 345.84 74.16 L 353.28 74.16 L 353.28 97.8 L 344.64 97.8 L 344.64 75.36 L 337.2 75.36 L 337.2 53.16 L 308.88 53.16 L 308.88 97.8 L 300 97.8 Z M 540 97.8 L 540 0 L 578.52 0 L 578.52 7.32 L 585.84 7.32 L 585.84 14.76 L 593.28 14.76 L 593.28 38.28 L 585.84 38.28 L 585.84 45.72 L 578.52 45.72 L 578.52 51.84 L 585.84 51.84 L 585.84 74.16 L 593.28 74.16 L 593.28 97.8 L 584.64 97.8 L 584.64 75.36 L 577.2 75.36 L 577.2 53.16 L 548.88 53.16 L 548.88 97.8 L 540 97.8 Z M 480 97.8 L 480 74.16 L 487.56 74.16 L 487.56 44.4 L 495 44.4 L 495 22.2 L 502.32 22.2 L 502.32 0 L 511.08 0 L 511.08 22.2 L 518.52 22.2 L 518.52 44.4 L 525.84 44.4 L 525.84 74.16 L 533.28 74.16 L 533.28 97.8 L 524.64 97.8 L 524.64 75.36 L 488.88 75.36 L 488.88 97.8 L 480 97.8 Z M 127.56 90.24 L 127.56 82.8 L 120 82.8 L 120 14.76 L 127.56 14.76 L 127.56 7.32 L 135 7.32 L 135 0 L 158.52 0 L 158.52 7.32 L 165.84 7.32 L 165.84 14.76 L 173.28 14.76 L 173.28 82.8 L 165.84 82.8 L 165.84 90.24 L 158.52 90.24 L 158.52 97.8 L 135 97.8 L 135 90.24 L 127.56 90.24 Z M 0 97.8 L 0 0 L 38.52 0 L 38.52 7.32 L 45.84 7.32 L 45.84 14.76 L 53.28 14.76 L 53.28 45.72 L 45.84 45.72 L 45.84 53.16 L 38.52 53.16 L 38.52 60.6 L 8.88 60.6 L 8.88 97.8 L 0 97.8 Z M 420 97.8 L 420 0 L 458.52 0 L 458.52 7.32 L 465.84 7.32 L 465.84 14.76 L 473.28 14.76 L 473.28 45.72 L 465.84 45.72 L 465.84 53.16 L 458.52 53.16 L 458.52 60.6 L 428.88 60.6 L 428.88 97.8 L 420 97.8 Z M 622.32 97.8 L 622.32 16.08 L 600 16.08 L 600 7.32 L 653.28 7.32 L 653.28 16.08 L 631.08 16.08 L 631.08 97.8 L 622.32 97.8 Z M 128.88 81.6 L 136.2 81.6 L 136.2 88.92 L 157.2 88.92 L 157.2 81.6 L 164.64 81.6 L 164.64 16.08 L 157.2 16.08 L 157.2 8.64 L 136.2 8.64 L 136.2 16.08 L 128.88 16.08 L 128.88 81.6 Z M 682.2 97.8 L 682.2 0 L 690.96 0 L 690.96 97.8 L 682.2 97.8 Z M 8.88 51.84 L 37.2 51.84 L 37.2 44.4 L 44.64 44.4 L 44.64 16.08 L 37.2 16.08 L 37.2 8.64 L 8.88 8.64 L 8.88 51.84 Z M 428.88 51.84 L 457.2 51.84 L 457.2 44.4 L 464.64 44.4 L 464.64 16.08 L 457.2 16.08 L 457.2 8.64 L 428.88 8.64 L 428.88 51.84 Z M 68.88 44.4 L 97.2 44.4 L 97.2 37.08 L 104.64 37.08 L 104.64 16.08 L 97.2 16.08 L 97.2 8.64 L 68.88 8.64 L 68.88 44.4 Z M 308.88 44.4 L 337.2 44.4 L 337.2 37.08 L 344.64 37.08 L 344.64 16.08 L 337.2 16.08 L 337.2 8.64 L 308.88 8.64 L 308.88 44.4 Z M 548.88 44.4 L 577.2 44.4 L 577.2 37.08 L 584.64 37.08 L 584.64 16.08 L 577.2 16.08 L 577.2 8.64 L 548.88 8.64 L 548.88 44.4 Z M 496.2 66.72 L 517.2 66.72 L 517.2 45.72 L 509.76 45.72 L 509.76 23.52 L 503.64 23.52 L 503.64 45.72 L 496.2 45.72 L 496.2 66.72 Z" vector-effect="non-scaling-stroke"/></g></svg>
      </div>

      <!-- SVG -->
      <div class="col-start-3 col-span-1 flex justify-end">
        <a href="https://github.com/Delioos/RMI-RayTracing">
        <svg xmlns="http://www.w3.org/2000/svg" width="240" height="100" viewBox="0 0 24 24"><g id="svgGroup" stroke-linecap="round" fill-rule="evenodd" font-size="9pt" stroke="#ffffff" stroke-width="0.8" fill="#1434ff" style="stroke:#ffffff;stroke-width:0.8;fill:#1434ff"><path d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"/></svg>
      </div>
    </div>

  </div>
  <div class="px-8 2xl:max-w-7xl mx-auto pb-12">
    <div class="mt-6 space-y-2">
      <div
        class="h-0.5 bg-secondary"
        data-aos="fade-up"
        data-aos-duration="1000">
      </div>
      <div
        class="flex flex-col sm:flex-row gap-3 justify-between items-center"
        data-aos="fade-up"
        data-aos-duration="1500">
        <div class="flex gap-3 items-center">
          <h3 class="text-secondary text-xs font-medium">
            <span class="font-bold">Java RMI</span>
            <span class="italic">Ray Tracing : séance 12  </span>
            <br>
            <span> PINCHON - SCHER - HIRTZ    |    2023</span>
          </h3>
          <span class="h-auto border-secondary border"></span>
        </div>

      </div>
      <div
        class="h-1.5 bg-secondary"
        data-aos="fade-up"
        data-aos-duration="2000">
      </div>
      <div class="h-3 bg-secondary" data-aos="fade-up" data-aos-duration="2500">
      </div>
      <div class="h-6 bg-secondary" data-aos="fade-up" data-aos-duration="3000">
      </div>
      <div
        class="h-12 bg-secondary"
        data-aos="fade-up"
        data-aos-duration="3000">
      </div>
      <div
        class="h-24 bg-secondary flex items-end p-4"
        data-aos="fade-up"
        data-aos-duration="3000"
        data-aos-delay="150">
      </div>
    </div>
  </div>
</section>
