<section class="bg-primary">
  <div class="px-8 2xl:max-w-7xl mx-auto py-6">
    <div class="mt-6 space-y-2">
      <div class="h-0.5 bg-secondary"></div>
      <h3 class="text-secondary text-xs font-medium">
        <span class="font-bold">témoignages</span>
        <span> (faux)</span>
      </h3>
      <div class="h-1.5 bg-secondary"></div>
    </div>
    <div class="grid grid-cols-1 lg:grid-cols-4 text-secondary gap-6 pt-2 mt-2">
      <p class="text-xs leading-relaxed">
        <span class="italic block font-bold">Florian, Architecte 3D chez Paramount Studios</span>
        Grâce à ce projet de raytracing, nous avons réussi à augmenter notre efficacité de rendu sans compromettre la qualité. Le système gère intelligemment la répartition de la charge de calcul. Je suis impressionné!
      </p>
      <p class="text-xs leading-relaxed">
        <span class="italic block font-bold">Philippe Martinez, Ingénieure Logiciel chez CGT</span>
        L'architecture répartie de ce projet est brillamment conçue. L'équilibre entre le serveur central et les nœuds de calcul offre une grande flexibilité et fiabilité.
      </p>
      <p class="text-xs leading-relaxed">
        <span class="italic block font-bold">Samuel cruz lara, Graphiste chez Warner Bros</span>
        Ce projet de raytracing a vraiment accéléré nos temps de rendu pour les animations complexes. L'ajout et la gestion des nœuds de calcul sont remarquablement simples.
      </p>
      <p class="text-xs leading-relaxed">
        <span class="italic block font-bold">Remy Kinzelin, game designer chez @ studio</span>
        L'expérience utilisateur est au centre de ce projet. Il gère les déconnexions de manière transparente et rend la tâche de calcul des images de raytracing vraiment simple. J'en suis vraiment fan!
      </p>
    </div>

  </div>
</section>
